
@{
    ViewData["Title"] = "GuessingGame";
}

<h1>GuessingGame</h1>

<form asp-controller="Home" asp-action="About" method="post">
    <input type="number" name="geussNumber" min="1" max="100" />
    <input type="submit" name="geussNumber" value="Tryck" />
</form>


<table class="table table-responsive">
    <tr>
        <th>Test-Name</th>
        <th>Test-Age</th>
    </tr>
    <tr>
        <td>@ViewBag.Name</td>
        <td>@ViewBag.Age</td>
    </tr>
</table>
