
@{
    ViewData["Title"] = "Geuss";
}

<h1>Geuss</h1>

<form asp-controller="Home" asp-action="Geuss" method="post">
    <input type="number" name="geussNumber" min="1" max="100" />
    <input type="submit" name="geuss" value="Tryck" />
</form>

@if (ViewBag.Result != null)
{
    <h3>Result</h3>
    <p>@ViewBag.Result</p>

}
<p>@ViewData["Message"]</p>