
@{
    ViewData["Title"] = "GuessingGame";
}

<h1>GuessingGame</h1>

<form asp-controller="Guess" asp-action="Index" method="post">
    <input type="number" name="geussNumber" min="1" max="100" />
    <input type="submit" name="geussNumber" value="Tryck" />
</form>

<h3>Guess</h3>

<p>@ViewData["Message"]</p>

