
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

<form asp-controller="Home" asp-action="About" method="post">
    <input type="number" name="geussNumber" min="1" max="100" />
    <input type="submit" name="geussNumber" value="Tryck" />
</form>
<table class="table table-responsive">
    <tr>
        <th>Test-Name</th>
        <th>Test-Age</th>
    </tr>
    <tr>
        <td>@ViewBag.Name</td>
        <td>@ViewBag.Age</td>
    </tr>
</table>
<article>
    <a><img src="http://www.porsche.se/link/827adbdfccd9456f98a0d5898ce00309.aspx" alt="Smiley face" height="600" width="auto"></a>
    <p>
        Porsche Carrera Cup Scandinavia får besök av hungrig och välmeriterad veteran. Kastar sig in i hetluften på hemmabanan.

        Unge talangen Lukas Sundahl från Växjö är fortsatt i ledning i årets Porsche Carrera Cup Scandinavia före norske Supercup-föraren Roar Lindland. Bara 12 poäng skiljer toppförarna i mästerskapet åt när den avgörande slutstriden närmar sig. Deltävling 11–12 körs på Rudskogen Motorsenter i Rakkestad söder om Oslo kommande helg.

        I kulisserna gör sig en av Norges främsta banracingtalanger genom tiderna redo att utmana titelkombattanterna i en efterlängtad comeback. Harald Huysman var under sin internationella karriär Europamästare i Formel Ford, hade framskjutna placeringar i tyska Formel 3 och tävlade i både Indy Lights och World Sports Car Championship.

        – Porsche Carrera Cup Scandinavia bjuder alltid på bra fighter! Det har blivit en riktigt tuff och bra serie, säger veteranen som slutade tävla aktivt 1994. Förarna i serien är specialister, så det är med ödmjukhet och respekt jag tar mig an utmaningen.

        Från sin professionella racingkarriär har Huysman med sig breda erfarenheter av racing med Porsche. Han har bland annat tävlat i Porsche Supercup och har kört 24-timmars på Le Mans med supersnabba Porsche 962. Inför helgens deltävlingar har han dessutom ett ovanligt ess i skjortärmen. Huysman äger Rudskogen-banan.

        – Jag känner ju banan väl. Den är mycket teknisk och man måste ha både aggressivitet och flyt. Min favoritpassage är ”Angsten”, en lång och blixtsnabb kurva i brant nedförslut. Vågar man ta med sig mycket fart där är det nyckeln till ett bra varv.

        Harald Huysman är dock försiktig med att skruva upp förväntningarna på sin egen insats inför racing-comebacken på hemmabanan.

        – Jag har faktiskt kört mindre på Rudskogen än man kan tro, skrattar Huysman. Jag har aldrig tävlat här och det är inte så att jag sticker ut på kvällarna och kör några varv. Bagaren äter ju inte sina egna kakor, som vi säger i Norge.

        Traditionellt är ju Norge en rally-nation men just nu syns ett starkt ökat publikintresse för banracing. Mycket på grund av den höga underhållningsfaktorn som GT-racingen erbjuder med sina stora startfält, intensiva förardueller och höga farter.

        – Porsche Carrera Cup Scandinavia kommer till Rudskogen med en dramatisk fight om ledningen i mästerskapet. Det är upplagt för spektakulär racing på skandinaviens bästa bana. Dessutom får tävlingshelgen en extra krydda i form av det spännande gästspelet av Harald Huysman, säger Raine Wermelin, direktör Porsche Sverige.


    </p>
</article>
