
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>

<div>
    <span>
        Porsche Sveriges kundtjänst
        <br />
        Öppettider<br />
        Måndag-torsdag 08:00-17.00<br />
        Fredag samt dag före röd dag eller helgdag 08:00-16:00
        <br />
        Tel: 08-120 810 30


    </span>
    <div class="btn-group" role="toolbar">
        <label class="btn btn-secondary">
            <input type="checkbox" />Access 1
        </label>
        <label class="btn btn-secondary">
            <input type="checkbox" />Access 2
        </label>

    </div>
    <br />
</div>
