
@{
    ViewData["Title"] = "Fever";

}

<h1>Fever control</h1>

<form asp-controller="Home" asp-action="Fever" method="post">
    <input type="number" name="temp" required value="36" />
    <input type="submit" name="temp" value="celsius" />
</form>

@if (ViewBag.Result != null)
{
    <h3>Result</h3>
    <p>@ViewBag.Result</p>

}
<p>@ViewData["Message"]</p>