
@{
    ViewData["Title"] = "Projects";
}

<div class="container">


    <table class="table">
        <thead>
            <tr>
                <th>Projects</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="~/html_css_assigment/JavaScript-Game/index.html">Sokoban</a></td>
            </tr>
            <tr>
                <td>
                    <a href="~/html_css_assigment/Bootstrap/index.html">Bootstrap</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="~/html_css_assigment/HTML/index.html">HTML</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>